body {
    background-image: url('ai_city.png');
    background-repeat:  no-repeat;
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
    
    }
#html {
    width: 150px;
    heght: 50px;
    background: grey;
    margin:600px 200px 1304px 200px;
}
#ai {
    width: 150px;
    heght: 50px;
    background: grey;
    margin:600px 500px 1304px 200px
}
#python {
    width: 150px;
    heght: 50px;
    background: grey;
    margin:600px 200px 1300px 76px
}
    
    
    


