body {
background-image: url('ai_city.png');
    }
#html {
    width: 150px;
    heght: 50px;
    background: grey;
    margin:300px 40px 1604px 76px;
}
#ai {
    width: 150px;
    heght: 50px;
    background: grey;
}
#python {
    width: 150px;
    heght: 50px;
    background: grey;
}
    
    
    


