

    body{
    background: url('ai_city.png');
    background-repeat: no-repeat;
    background: fixed;
    background: center;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
    background-size: cover;
    }


